<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('incs/head') %>
    <title>Perfil Oferente</title>
    <link rel="stylesheet" type="text/css" href="/css/perfilOferente.Css">
    <script src="/js/perfilOferente.js" defer></script>
</head>
<body>
    <header class="header" id="inicio">
        <section class="portada-header">
            <div  class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
        </section>
        <section class="perfil-header">
            <div class="contenedor head">
                <div class="oferente">
                   <img src="/images/img-oferente/EmanuelMartinez.jpg" alt="" class="img-perfil">
                   <h3 class="titulo">Emanuel Martinez</h3>
                   <p class="copy">#electricista #albañil</p>
                </div>
              <div class="reputacion">
                  <p>Reputacion: ⭐⭐⭐⭐⭐</p>
              </div>
            </div>
        </section>        
    </header>
    <main>
        <div class="line1"></div>
        <section class="contenedor-descripcion">
          <h4 class="subtitulo">Descripcion:</h4><br>
            <div class="descripcion">
                <div class="content-descrip">
                    <p>15 años en el rubro, instalaciones eléctricas en domicilios particulares, geriátricos, comercios, consorcios, etc. Instalación de sistemas de alarmas contra robo e incendio. colocación y reparación de detectores de incendio. Instalación de central de Timbres y Luces de emergencia.</p>
                </div>
            </div>
        </section>
        <br>
        <section class="servicios">
            <div class="content-servicios">
                <br><br><h4 class="subtitulo">Servicios que ofrezco:</h4><br>
                <br>
                <div class="content-boton">
                    <button type="button" class="btn btn-danger">Electricista</button>
                    <button type="button" class="btn btn-danger">Albañil</button>
                </div>
            </div>
            <br>
            <section class="categoria">
                <div class="content-catalogo"></div>
                    <br><br><h4 class="subtitulo">Trabajos realizados:</h4><br>
                    <div class="galeria">
                        <img src="/images/img-oferente/foto1.jpg" alt="" class="img-galeria">
                        <img src="/images/img-oferente/foto2.jpg" alt="" class="img-galeria">
                        <img src="/images/img-oferente/foto3.jpg" alt="" class="img-galeria">
                        <img src="/images/img-oferente/foto4.jpg" alt="" class="img-galeria">
                        <img src="/images/img-oferente/foto5.jpg" alt="" class="img-galeria">
                        <img src="/images/img-oferente/foto6.jpg" alt="" class="img-galeria">
                </div>
            </section>
        </section>
        <section class="imagen-light">
            <img src="/images/img-svg/bx-x.svg" alt="" class="close">
            <img src="" alt="" class="agregar-imagen">
        </section>
        <br><br>
        <section class="preguntas">
            <br><h4 class="subtitulo">Preguntas Realizadas:</h4><br>
            <div class="cliente-preguntas">
                <p class="parrafo-preg">Buen dia Llega a zona sur?</p>
                <p class="parrafo-resp"><img src="/images/img-oferente/flecha.svg" alt=""> Hola buen dia, si realizo trabajos por esa zona.</p>
                <p class="parrafo-preg">Buenas queria saber si realiza la colocación de aire acondicionado?</p>
                <p class="parrafo-resp"><img src="/images/img-oferente/flecha.svg" alt="">Hola como esta? Si realizo la colocación.</p><br>
            </div>
            <section class="botones">
                <div class="content-boton">
                    <a href="/indexlogin"><img src="/-Proyecto-Integrador-Programacion-Web/img-oferente/bx-question-mark.svg" alt=""> Preguntar</a> 
                </div>
            </section>
            <br>
        </section>
        <section class="opinions">
            <br><br><h4 class="subtitulo">Opiniones de Emanuel Martinez:</h4><br>
            <div class="opiniones">
                <h4 class="puntuacion">5/5</h4>
                <p class="estrella">⭐⭐⭐⭐⭐</p>
                <p class="cantidad">"2 opiniones"</p>
            </div>
            <br>
            <section class="opinion">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="/images/img-oferente/austin-distel.jpg" class="img-carrusel" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h4 class="sub-nombre">Austin Distel</h4>
                        <p class="p-opinion">1 de Septiembre 2022</p>
                        <p>⭐⭐⭐⭐⭐</p>
                        <p class="p-opinion">Muy atento. Responsable, trabajo de calidad.</p>
                        <p class="p-opinion"><span><img src="/-Proyecto-Integrador-Programacion-Web/img-oferente/bx-check.svg" alt=""></span>Cliente verificado</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="/images/img-oferente/Agustina-correu.jpg" class="img-carrusel" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h4 class="sub-nombre">Agustina Correu</h4>
                        <p class="p-opinion">10 de Agosto 2022</p>
                        <p>⭐⭐⭐⭐⭐</p>
                        <p class="p-opinion">Trabajo muy prolijo y rápido.</p>
                        <p class="p-opinion"><span><img src="/images/img-oferente/bx-check.svg" alt=""></span>Cliente verificado</p>
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <img src="/images/img-svg/bx-previos.svg" alt="">
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <img src="/images/img-svg/bx-next.svg" alt="">
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <img src="/images/img-svg/bx-next.svg" alt="">
                  </button>
                </div>
            </section>
        </section> 
        <br>
        <section class="botones1">
            <div class="content-boton">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Dejar puntuación/opinión</button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1>CALIFICAR A ESTE OFERENTE:</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="mb-3">
                            <form >
                            <p class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" value="5"><!--
                                --><label for="radio1">★</label><!--
                                --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                                --><label for="radio2">★</label><!--
                                --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                                --><label for="radio3">★</label><!--
                                --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                                --><label for="radio4">★</label><!--
                                --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                                --><label for="radio5">★</label>
                              </p>
                            </form>
                          </div>
                          <div class="mb-3">
                            <label for="message-text" class="col-form-label">Mensaje:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-danger">Enviar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-danger"><img src="/images/img-oferente/bxl-whatsapp.svg" alt=""> Contactarse</button>
            </div>
        </section>
        <br><br><br>
    </main>
    <footer id="contacto">
        <div class="contenedor footer-content">
          <div class="contact-us">
            <h2 class="brand">ServiAr</h2>
            <p>Somos expertos en ayudarte a buscar el servicio que necesites</p>
          </div>
          <div class="social-media">
            <a href="./" class="social-media-icon">
              <i class="bx bxl-facebook"></i>
            </a>
            <a href="./" class="social-media-icon">
              <i class="bx bxl-instagram"></i>
            </a>
            <a href="./" class="social-media-icon">
              <i class="bx bxl-twitter"></i>
            </a>
          </div>
        </div>
        <div class="line"></div>
      </footer>
    
</body>
</html>