<div class="contenedor footer-content">
    <div class="contact-us">
      <h2 class="brand">ServiAr</h2>
      <p>Somo expertos en ayudarte a buscar el servicio que necesites</p>
    </div>
    <div class="social-media">
      <a href="./" class="social-media-icon">
        <i class="bx bxl-facebook"></i>
      </a>
      <a href="./" class="social-media-icon">
        <i class="bx bxl-instagram"></i>
      </a>
      <a href="./" class="social-media-icon">
        <i class="bx bxl-twitter"></i>
      </a>
    </div>
  </div>
  <div class="line"></div>